@page
@model ModuleWebApplication.Pages.Modules.ModuleInformationModel
@{
    ViewData["Title"] = "Module Information";
}

<div class="overlay">
    <!-- LOGN IN FORM by Omar Dsoky -->
    <form>
        <!--   con = Container  for items in the form-->
        <div class="con">
            <!--     Start  header Content  -->
            <header class="head-form">
                <h2>Module Details</h2>
                <!--     A welcome message or an explanation of the login form -->
                <p>Enter the module details</p>
            </header>
            <!--     End  header Content  -->
            <br>
            <div class="field-set">

                <!-- Module code Input-->
                <input class="form-input" id="txt-input" type="text" placeholder="Module Code" required>

                <!--   Module name Input-->
                <input class="form-input" id="txt-input" type="text" placeholder="Module Name" required>

                <!--   Credits Input-->
                <input class="form-input" id="txt-input" type="number" placeholder="Number of credits" required>

                <!--   Class hours Input-->
                <input class="form-input" id="txt-input" type="number" placeholder="Class Hours per week" required>

                <br>  

            </div>

            <!--   other buttons -->
            <div class="buttonContainer">
                <!--        buttons -->
                <!--      button display -->
                <a class="btn" asp-page="/Modules/Display"> Display </a>
                <!--     Sign Up button -->
                <input class="btn rightSideBtn" type="submit" value="Add Module"/>
                <!--      End Other the Division -->
            </div>

            <!--   End Conrainer  -->
        </div>

        <!-- End Form -->
    </form>
</div>

