@page
@model ModuleWebApplication.Pages.Modules.RemainingHoursModel
@{
    ViewData["Title"] = "Module Information";
}

<div class="overlay">
    <!-- LOGN IN FORM by Omar Dsoky -->
    <form method="post">
        <!--   con = Container  for items in the form-->
        <div class="con">
            <!--     Start  header Content  -->
            <header class="head-form">
                <h2>Calculate Remaining Hours</h2>
                <!--     A welcome message or an explanation of the login form -->
                <p>Enter the bellow details to calculate the remaininf hours left of self study</p>
            </header>
            <!--     End  header Content  -->
            <br>
            <div class="field-set">

                <!--Drop down option-->
                <label for="dropdown">Select a module:</label> 
                <select class="dropDownStyle" asp-items="Model.ModulesSL" asp-for="SelectedModule">
                </select>

                <br/>

                <!--   Hours worked Input-->
                <input class="form-input" id="txt-input" type="number" placeholder="Hours Worked" required asp-for="HoursWorked">

                <!--   Date Input-->
                <input class="form-input" type="date" placeholder="Day of Week" id="pwd" name="Date" required asp-for="TrackedDate">            
            </div>

            <!--   other buttons -->
            <div class="buttonContainer">
                <!--        buttons -->
                <!--      button calculate -->
                <input class="btn" type="submit" value="Calculate"/>
                <!--     Home button -->
                <a class="btn rightSideBtn" asp-page="/Index">
                    Home
                </a>
                <!--      End Other the Division -->
            </div>

            <!--   End Conrainer  -->
        </div>

        <!-- End Form -->
    </form>

    @if (Model.Submited == true)
    {
        <!--Display the remaining hours calculations-->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@Model.UpdatedModule.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">Completed self study hours >> @Model.UpdatedModule.SelfStudyHours </h6>
                <p class="card-text">Remanining self study hours >> @Model.UpdatedModule.RemainingHours</p>
                <a class="card-link" asp-page="/Index">Home</a>
                <a class="card-link" asp-page="/Modules/RemainingHours">Close</a>
            </div>
        </div>
    }
    
</div>

