@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="MainContentBackground">
    <header class="head-form">
        <h2>Privacy Policy</h2>
    </header>

<p>
   In order to ensure that your information is private, the user may only view their own modules once they 
   have logged in or created an account.

   Our privacy policy ensures that each user can neter theri infromation without worry or concern for others viewing it.

</p>

    <!--   other buttons -->
    <div class="buttonContainer">
        <!--     Home button -->
        <a class="btn rightSideBtn" asp-page="/Index">
            Home
        </a>
        <!--      End Other the Division -->
    </div>
</div>
