@page
@model ModuleWebApplication.Pages.Auth.LogInModel
@{
    ViewData["Title"] = "Log In Page";
}

<div class="overlay">
    <!-- LOGN IN FORM by Omar Dsoky -->
    <form method="post">
        <!--   con = Container  for items in the form-->
        <div class="con">
            <!--     Start  header Content  -->
            <header class="head-form">
                <h2>Log In</h2>
                <!--     A welcome message or an explanation of the login form -->
                <p>Log In  using your username and password</p>
            </header>
            <!--     End  header Content  -->
            <br>
            <div class="field-set">

                <!--   user name Input-->
                <input class="form-input" id="txt-input" type="text" placeholder="Username" required asp-for="UserName"/>

                <br>

                <!--   Password Input-->
                <input class="form-input" type="password" placeholder="Password" id="pwd" name="password" required asp-for="Password"/>
                <br>
               
            </div>

            <!--   other buttons -->
            <div class="buttonContainer">
                <!--        buttons -->
                <!--      button LogIn -->
                <input class="btn" type="submit"></input>
                <!--     Sign Up button -->
                <a class="btn rightSideBtn" asp-page="/Auth/Register">
                    Sign Up
                </a>
                <!--      End Other the Division -->
            </div>

            <!--   End Conrainer  -->
        </div>

        <!-- End Form -->
    </form>
</div>
